@{
  Layout = "_Layout";
}
<h1>Order Details: </h1>

<h3>@Model["order"].Name</h3>
<h3>Vendor: @Model["vendor"].Name</h3>

<a href='/vendors/@Model["vendor"].Id/orders/new'>Add another Order</a>
<a href='/vendors'>View all vendors</a>