@{
  Layout = "_Layout";
}
<h1>Order Details: </h1>

<h2>@Model["order"].Description</h2>
<h3>Category: @Model["vendor"].Name</h3>

<a href='/vendor/@Model["vendor"].Id/order/new'>Add another Order</a>
<a href='/vendors'>View all vendors</a>